# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.h
/config.status

# https://www.gnu.org/software/libtool/

/ltmain.sh
/libtool

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/
autom4te.cache

# build aux
/build-aux

# Other stuff
*~
*.log
*.in
.deps/
.libs/
kk

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
*.Plo
*.Po

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Bison Lex outputs
src/grammar-firstpass.tab.c
src/grammar-firstpass.tab.h
src/grammar-secondpass.tab.c
src/grammar-secondpass.tab.h
src/lex.firstpass.c
src/lex.secondpass.c


# The binary program
src/lxzasm


